/*
* This file is part of Adaptable theme for moodle
*
* Moodle is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Moodle is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*
*
* Adaptable main CSS file
*
* @package    theme_adaptable
* @copyright  2015-2019 Jeremy Hopkins (Coventry University)
* @copyright  2015-2019 Fernando Acedo (3-bits.com)
* @copyright  2018-2019 Manoj Solanki (Coventry University)
*
* @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
*/

/* Main elements selectors */
html,
body {
    color: [[setting:fontcolor]];
    font-family: [[setting:fontname]], sans-serif;
    font-size: [[setting:fontsize]];
    font-weight: [[setting:fontweight]] !important;
    line-height: normal;
    margin: 0;
    padding: 0;
}

#page-my-index, /* Overridden from Boost theme to ignore background colour set on dashboard. */
body {
    background-color: [[setting:backcolor]];
    background-size: 100% auto;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    color: [[setting:fontheadercolor]];
    font-family: [[setting:fontheadername]], sans-serif;
    font-weight: [[setting:fontheaderweight]] !important;
}

/* Other text tags */
input,
button,
select,
textarea {
    color: [[setting:fontcolor]];
    font-family: [[setting:fontname]], sans-serif;
    font-size: [[setting:fontsize]];
    font-weight: [[setting:fontweight]] !important;
}

/* Links */
a,
a:visited,
.tabtree .tabrow0 li a {
    color: [[setting:linkcolor]];
    text-decoration: none;
}

a:hover,
a:active {
    color: [[setting:linkhover]];
    text-decoration: none;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* Images */
img {
    vertical-align: middle;
    border: 0;
    height: auto;
    max-width: 100%;
}

/* Lists */
li {
    line-height: 28px;
}

#adaptable-page-header-wrapper .dropdown-menu > li > a:hover,
#adaptable-page-header-wrapper .dropdown-menu > li > a:focus,
#adaptable-page-header-wrapper .dropdown-submenu:hover > a,
#adaptable-page-header-wrapper .dropdown-submenu:focus > a {
    background-image: none;
}

/* Text Selection */
::selection  {
    color: [[setting:selectiontext]];
    background-color: [[setting:selectionbackground]];
}

::-moz-selection  {
    color: [[setting:selectiontext]];
    background-color: [[setting:selectionbackground]];
}

/* Forms */
fieldset {
    min-width: 0;
    /* width: 90%; */
}

.mform fieldset {
    margin-left: 0;
}

.mform fieldset.collapsible legend a.fheader {
    margin-left: 0;
}

.form-inline {
    margin: 5px 0;
}

.col-form-label.d-inline {
    float: right;
    margin: 3px 5px 5px 0;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }

    textarea {
        box-sizing: border-box;
    }

    textarea[cols] {
        width: 100%;
    }
}

select {
    width: auto;
}


/* main headings */
#page-content {
    padding: 12px 0 20px;
    position: relative;
    width: auto;
}

.headingblock, h2.main,
#site-news-forum h2,
#frontpage-course-list h2,
#frontpage-category-names h2,
#frontpage-category-combo h2,
.course_category_tree .category > .info > .categoryname {
    font-family: [[setting:fontheadername]], sans-serif !important;
    font-weight: [[setting:fontheaderweight]] !important;
    color: [[setting:fontheadercolor]];
    font-size: 24px;
    border-bottom: 0 solid #eee;
    margin-bottom: 20px;
}

#nologo, #nologo a,
.generalbox h2,
h3.sectionname,
div.tabtree li.selected a span,
.forumpost .subject,
.blog_entry div.subject a,
h2.headingblock,
h2.main,
h3.main,
h2.main a,
h3.main a,
div.loginpanel h2,
div.signuppanel h2 {
    font-weight: bold;
}

.well h4 {
    margin-left: 30px;
}

#header2 {
    background-color: transparent;
    border-bottom: none;
    clear: both;
    color: [[setting:headertextcolor2]];
    margin-bottom: 0;
    min-height: [[setting:pageheaderheight]];
    padding-top: 0;
}

/* Override default boost max height for header2. */
#header2 .navbar {
    max-height: 150px;
}

#header2 .row {
    min-height: [[setting:pageheaderheight]];
    margin: 0 0 0 -15px;
}

#adaptable-page-header-wrapper > #header2 > div > div,
#adaptable-page-header-wrapper #header2 .navbar-nav {
    min-height: [[setting:pageheaderheight]];
}

#adaptable-page-header-wrapper #header2 i,
#adaptable-page-header-wrapper #page-header i {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
}

/* Page */
#page {
    clear: both;
    margin: 0;
    padding: 0;
    max-width: inherit;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    [[setting:homebkg]]
}

.container.outercont {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Header */
#adaptable-page-header-wrapper {
    background-color: [[setting:headerbkcolor2]];
    width: 100%;
    z-index: 10;
}

#page-header {
    background-color: transparent;
    border-bottom: none;
    clear: both;
    margin-bottom: 0;
    min-height: [[setting:pageheaderheight]];
    padding-top: 0;
}

#above-header .fa {
    color: [[setting:headertextcolor]];
}

#titlecontainer {
    width: [[setting:sitetitlemaxwidth]];
}

#logo {
    margin-bottom: 2px;
    margin-left: 0;
    margin-top: 0;
    max-width: 250px;
}

#logocontainer {
    float: left;
    margin: 5px 15px 10px 0;
}

#sitetitle,
#sitetitle a,
#sitetitle p,
#sitetitle h1 {
    color: [[setting:fonttitlecolor]] !important;

    font-size: [[setting:fonttitlesize]];
    font-family: [[setting:fonttitlename]], sans-serif;
    font-weight: [[setting:fonttitleweight]] !important;

    line-height: 120%;
    max-width: [[setting:sitetitlemaxwidth]];
    min-width: 50%;
    overflow: visible;
    padding: [[setting:sitetitlepadding]];
    position: relative;
    text-overflow: ellipsis;
    width: auto;
    white-space: nowrap;
    margin: 0;
    vertical-align: middle;
}

#coursesearchbox2 {
    border-radius: 0;
    box-shadow: none;
    min-width: 240px;
    padding: 8px 10px 5px;
    width: auto;
    background: #fff url([[pix:theme|search2]]) no-repeat 98% 50%;
}

#coursesearch2 {
    padding-top: 23px;
}

.socialbox {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: [[setting:socialpaddingtop]];
    vertical-align: middle;
}

.socialbox a {
    color: [[setting:headertextcolor2]] !important;
    padding-left: [[setting:socialpaddingsidehalf]]px;
    padding-right: [[setting:socialpaddingsidehalf]]px);
}

.socialbox a:first-of-type {
    padding-left: [[setting:socialpaddingside]]px;
}

.socialbox a:last-of-type {
    padding-right: [[setting:socialpaddingside]]px;
}

.socialbox a i {
    /* Make at least 29px, values look odd but on inspection they are needed to be so for FontAwesome. */
    font-size: [[setting:socialsize]];
    line-height: [[setting:socialsize]];
}

.headermenu {
    float: right;
    padding-top: 0;
    padding-right: 0;
    font-size: 12px;
    color: #ccc;
    text-align: right;
    margin-left: 15px;
}

.headermenu span.fa.fa-angle-down {
    font-size: 13px;
    padding-left: 5px;
}

.headermenu .usermendrop a {
    font-family: [[setting:fontname]], sans-serif;
    font-size: [[setting:topmenufontsize]];
}

.headermenu .usermendrop a:hover {
    text-decoration: none !important;
}

.usermendrop span {
    font-size: [[setting:topmenufontsize]];
    padding-right: 5px;
    height: 30px;
}

#page-header .userimg {
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 15px;
}

.usermenu2.nav {
    margin-bottom: 0;
    color: [[setting:headertextcolor]];
    font-size: [[setting:topmenufontsize]];
    padding-left: 10px;
}

.usermenu2.nav a.dropdown-toggle {
    font-family: [[setting:fontname]], sans-serif;
    font-size: [[setting:topmenufontsize]];
    color: [[setting:headertextcolor]];
}

.usermenu2 .fa.fa-comments {
    padding-right: 3px;
}

/* Badges */
.badge {
    padding: .4rem .6em;
}

a.component-expand .badge {
    margin: 0.8em 0.8em 0.4em 0.8em;
}

.badge,
.count-container {
    background-color: [[setting:msgbadgecolor]];
}

.badge-primary {
    color: #fff;
    background-color: #1177d1; }

.badge-primary[href]:hover,
.badge-primary[href]:focus {
        color: #fff;
        text-decoration: none;
        background-color: #0d5ca2;
}

.badge-secondary {
    color: #212529;
    background-color: #ced4da;
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
        color: #212529;
        text-decoration: none;
        background-color: #b1bbc4;
}

.badge-success {
    color: #fff;
    background-color: #5cb85c;
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #449d44;
}

.badge-info {
    color: #212529;
    background-color: #5bc0de;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #31b0d5;
}

.badge-warning {
    color: #212529;
    background-color: #f0ad4e;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #ec971f;
}

.badge-danger {
    color: #fff;
    background-color: #d9534f;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #c9302c;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge-light[href]:hover,
.badge-light[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #dae0e5;
}

.badge-dark {
    color: #fff;
    background-color: #373a3c;
}

.badge-dark[href]:hover,
.badge-dark[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1f2021;
}


.slidewrap {
    margin-top: [[setting:slidermargintop]];
    margin-bottom: [[setting:slidermarginbottom]];
}

#frontblockregion {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: [[setting:blockregionbackgroundcolor]];
}

#marketblocks {
    background-color: [[setting:marketblocksbackgroundcolor]];
    padding-bottom: 10px;
}

#marketblocks .internalmarket {
    padding: 10px 15px 30px;
    text-align: center;
    border: 1px solid [[setting:marketblockbordercolor]];
    border-top: 0;
}

.marketimage {
    display: block;
    width: 100%;
    border: 0;
}

#marketblocks h3 {
    font-size: 24px;
    line-height: 48px;
    font-weight: normal;
    margin: 10px auto;
}

.marketrow {
    margin-top: 20px;
}

img.emoticon {
    height: [[setting:emoticonsize]];
    width: [[setting:emoticonsize]];
}

.personpic {
    text-align: center;
}

#person img {
    border: 6px solid #fff;
    max-width: 130px;
    display: block;
    margin: 0 auto;
}

.persontitle {
    padding-top: 40px;
}

span.fa-chevron-right.fa {
    font-size: 10px;
}

#theinfo .span3 {
    text-align: right;
    padding-top: 35px;
}

#theinfo2 .span3 {
    text-align: right;
    padding-top: 35px;
}

#frontpage-course-list h2 {
    display: [[setting:enableavailablecourses]];
}


#page-footer {
    background-color: [[setting:footerbkcolor]];
    margin: auto 0 0;
    text-align: left;
    color: [[setting:footertextcolor]] !important;
    border-top: 0;
    font-size: 110%;
    word-wrap: break-word;
}

#page-footer h3 {
    color: [[setting:footertextcolor]] !important;
    word-wrap: break-word;
}

#page-footer a {
    color: [[setting:footerlinkcolor]] !important;
}

#page-footer .block-list > li {
    padding: 0.3em 0;
}

.block-list > li {
    line-height: 1.2;
}

.white li a, .base-tabs a.white, .block-list a.white {
    color: #fff;
}

#page-footer li a span + span {
    color: #abb5bf;
    padding-left: 5px;
}

.fa.fa-chevron-right.icon-right-open-mini {
    font-size: 10px;
}

#page-footer .block-list > li a {
    padding: 0;
}

#page-footer .blockplace3 {
    display: none;
}

#page-footer .blockplace2 {
    display: none;
}

#page-site-index #page-footer .blockplace2 {
    display: block;
}

.tool_dataprivacy {
    display: [[setting:gdprbutton]];
}

.screen-reader-text {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.clear {
    clear: both;
}

.headermenu input[name=username],
.headermenu input[name=password] {
    height: 12px;
    padding-bottom: 4px;
}

#page-footer .logininfo {
    margin: 0 auto 0;
    font-size: 90%;
    width: auto;
}

#page-footer .info {
    line-height: 21px;
    margin: 0 auto;
    margin-top: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid [[setting:dividingline2]];
    font-size: 90%;
    color: [[setting:footertextcolor2]];
}

#page-footer .info a {
  color: [[setting:footerlinkcolor]] !important;
}

.info nav ul li {
    border: medium none;
    display: inline-block;
    float: left;
}

.mrl, .mhl, .mal {
    margin-right: 20px !important;
}
.mtm, .mvm, .mam {
    margin-top: 10px !important;
}

.info nav ul li a {
    border-right: 1px solid #666;
    margin: auto;
    padding: 0.1em .8em;
}

#page-footer ol, #page-footer ul {
    list-style: none outside none;
    margin: 0 0;
}

#page-my-index #page-navbar {
    display: inline;
}

.navbar .nav-collapse.in {
    border-top: none;
}

.navbar .nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 0 0 4px;
    position: relative;
}

.navbar .nav > li > a {
    margin: 0 0 0 0 !important;
}

langmenu a:hover {
    background-color: none !important;
    text-decoration: none !important;
}

/* Breadcrumb */
#page-navbar {
    margin-top: 10px;
}

.breadcrumb {
    background: none !important;
    background-color: [[setting:breadcrumb]] !important;
    padding: 5px;
}

.breadcrumb li {
    text-shadow: none;
    margin: 5px 0;
}

.breadcrumb li span a {
    text-decoration: none;
}

.breadcrumb li span.divider {
    display: none !important;
}

.breadcrumb > a {
    display: inline-block;
    margin: 5px 0;
}

.breadcrumb .fa {
    display: inline;
    margin: 12px 0;
}

.separator {
    margin: 9px;
}

.separator i {
    margin-left: 5px;
}

.breadcrumb ul i,
.breadcrumb li.lastli span {
    color: [[setting:breadcrumbtextcolor]];
    text-decoration: none;
}

.breadcrumb li a.firstli {
    padding-left: 15px;
    padding-right: 20px;
}

.breadcrumb li span.divider {
    display: none !important;
    border-bottom: 0 solid [[setting:maincolor]];
}

.breadcrumb-button {
    margin-top: 1px;
}

.arrow-top {
    border-bottom: 18px solid transparent;
    border-left: 17px solid [[setting:breadcrumb]];
    border-top: 17px solid transparent;
    height: 0;
    position: absolute;
    right: -17px;
    top: 0;
    width: 0;
    z-index: 1;
}

.arrow-bottom {
    border-bottom: 18px solid transparent;
    border-left: 17px solid #fff;
    border-top: 17px solid transparent;
    height: 0;
    position: absolute;
    right: -18px;
    top: 0;
    width: 0;
}

/* Messages popup. */
#newmessageoverlay #newmessagetext {
    background-color: [[setting:messagepopupbackground]];
    color: [[setting:messagepopupcolor]];
    border-radius: 5px 5px 0 0;
}

#newmessageoverlay {
    border: 3px solid [[setting:messagepopupbackground]];
}

.nav .dropdown-menu li a {
    border-bottom-color: none !important;
}

.pagelayout-redirect #content {
    width: 60%;
    background-color: #fff;
    margin: 20px auto;
    padding: 1em;
    border: 1px solid #dadada;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

div.redirectmessage {
    width: 60%;
    margin: 10px auto 0 auto;
    border: none solid transparent;
    font-size: 13px;
    background: #fff url([[pix:theme|ajax-loader]]) no-repeat 50% 95%;
    padding: 20px 20px 40px;
}

.singleselect {
    width: inherit;
}

#mode select,
#forummenu select {
    height: 36px;
}

[data-region='post-action'] {
    margin: 5px 5px 0 0;
}

#page-grade-export-xls-index #region-main table {
    display: block;
    overflow: auto;
    width: 100%;
}

.gradingform_guide .criterion .description {
    width: 100%;
    padding: 10px 5px 10px 5px;
}

#notice h4 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold !important;
}

#notice.box {
    border: none;
    padding: 15px;
    margin-top: 100px;
    font-size: 18px;
    color: [[setting:alertcolorinfo]];
    background-color: [[setting:alertbackgroundcolorinfo]];
    border-color: [[setting:alertbordercolorinfo]];
}

#notice,
.redirectmessage2 {
    text-align: center;
    border-color: #e5e5e5;
    padding: 5px;
}

.pagelayout-redirect #page-content {
    margin: 20px auto 0;
    text-align: center;
    width: 80%;
}

.pagelayout-redirect #page {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: none;
    max-width: inherit;
    padding: 0;
}

#page-mod-forum-post #id_subject {
    width: 100%;
}

#plugins-control-panel, #admindeviceselector {
  display: block;
  overflow: auto;
}

#admindeviceselector .cell img {
  max-width: 420px;
}

span2.mceEditor iframe, table.mceLayout2 iframe {
    max-width: 500px !important;
}

.editor_atto_menu .open ul.dropdown-menu {
    min-width: 3.5em;
}

.form-item .form-label, .mform .fitem div.fitemtitle, .userprofile dl.list dt, .form-horizontal .control-label {
    width: 250px;
}

.form-item .form-label, .mform .fitem div.fitemtitle {
    float: left;
}

.form-item .form-setting,
.form-item .form-description,
.mform .fitem .felement,
#page-mod-forum-search .c1,
.mform .fdescription.required,
.userprofile dl.list dd,
.form-horizontal .controls {
/*    margin-left: 260px; */
}

.form-item .form-label,
.mform .fitem div.fitemtitle {
    text-align: right;
}


.form-label label {
    font-family: [[setting:fontheadername]], sans-serif !important;
    font-weight: [[setting:fontheaderweight]] !important;
    color: [[setting:fontheadercolor]];
    font-size: 18px;
    padding-bottom: 10px;
}

.form-colorpicker input {
    display: inline;
}

.settingsform .form-item {
    border-bottom: 1px solid [[setting:blockbordercolor]];
    padding: 10px 0;
    margin: 10px 0;
}


input[type="radio"], input[type="checkbox"] {
    /* margin-left: 15px; */
    margin-right: 1px;
}

#adminsettings h3 {
    font-family: [[setting:fontheadername]], sans-serif !important;
    font-weight: [[setting:fontheaderweight]] !important;
    color: [[setting:fontheadercolor]];
    font-size: 24px;
    display: block;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 0;
    width: 100%;
}

#region-main {
    background-color: [[setting:regionmaincolor]];
    border: none;
}

#region-main
.pagelayout-mydashboard #region-main {
    padding: 0 5px; /* Override Boost. */
}

/* lang menu */
.langmenu a {
    color: [[setting:headertextcolor]];
}

.langmenu a:hover {
    color: [[setting:headertextcolor]];
    background-color: none;
}

/* alert messages */

.alert .close {
    text-decoration: none;
}

.customalert {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.customalert a {
    text-decoration: underline;
}

.customalert a:hover {
    color: red;
}


.customalert p {
  display: inline;
}

#beta {
    min-height: 50px;
    background-color: #CC0000;
}

#beta h3 {
    line-height: 48px;
    color: #fff !important;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

/* Alerts */
.alert {
    margin-bottom: 0;
}

/* Course alerts */
.adaptable-alert-info {
    background-color: [[setting:alertbackgroundcolorinfo]];
    border-width: 1px;
    border-color: [[setting:alertbordercolorinfo]];
    color: [[setting:alertcolorinfo]];
}

.adaptable-alert-info a,
.adaptable-alert-info a:hover {
    color: [[setting:alertcolorinfo]];
}

.adaptable-alert-success {
    background-color: [[setting:alertbackgroundcolorsuccess]];
    border-width: 1px;
    border-color: [[setting:alertbordercolorsuccess]];
    color: [[setting:alertcolorsuccess]];
}
.adaptable-alert-success a,
.adaptable-alert-success a:hover {
    color: [[setting:alertcolorsuccess]];
}

.adaptable-alert-warning {
    background-color: [[setting:alertbackgroundcolorwarning]];
    border-width: 1px;
    border-color: [[setting:alertbordercolorwarning]];
    color: [[setting:alertcolorwarning]];
}
.adaptable-alert-warning a,
.adaptable-alert-warning a:hover {
    color: [[setting:alertcolorwarning]];
}

/* admin errors */
.adminerror {
    background-color: #f2dede;
    border-color: #ebcccc;
    border-radius: 0.25rem;
    color: #a94442;
    margin-bottom: 1rem;
    margin-top: 50px;
    padding: 0.75rem 1.25rem;
}

.notifytiny {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 0.25rem;
    margin: 1rem;
    font-size: 14px;
    font-family: monospace;
    padding: 0.75rem 1.25rem;
}

.navbar .singlebutton,
.navbar input,
.navbar .singlebutton div,
.path-mod-data .navbar form {
  margin: 0 0;
  line-height: 18px;
}

#adaptable-page-header-wrapper .navbar #pre-login-form input {
    margin: 5px;
    padding: 2px;
}

#adaptable-page-header-wrapper .navbar #pre-login-form .btn-login {
    margin: 3px 1px 1px 10px;
    padding: 0px 15px;
    height: 30px;
}

.navbar input#navsearchbox {
    margin-right: 5px;
}


@media (min-width: 576px) {
    #adaptable-page-header-wrapper #header2 .search-input-wrapper.expandable > form {
        margin: 0;
    }

    #adaptable-page-header-wrapper #header2 .search-input-wrapper.expandable {
        padding: 0;
        position: relative;
    }

    #adaptable-page-header-wrapper #header2 .search-input-wrapper.expandable > div { /* The button! */
        background-color: [[setting:backcolor]];
        color: [[setting:fontcolor]];
        height: 24px;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 24px;
    }

    #adaptable-page-header-wrapper #header2 .search-input-wrapper.expandable > div .icon {
        margin-top: 0;
    }
}

@media (max-width: 575.98px) {
    .search-input-wrapper.expanded {
        width: 32px;
    }
}

#adaptable-page-header-wrapper #header2 .search-input-wrapper>div .icon {
    margin-top: 8px;
}

.navbar .singlebutton input {
    padding: 4px 15px;
    margin-left: 5px;
}

.navbar #coursesearchnavbar,
.navbar .wikisearch {
    margin-top: 3px;
}

.navbar .forumsearch input[type=text] {
    padding: 0;
}

/* Show modal pop-up. */
#notice {
    margin: 30px auto;
    min-width: 220px;
    width: 70%;
}

/* Modal styles */
.moodle-dialogue-base .closebutton::after {
    color: #777;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: .8;
    filter: alpha(opacity=80);
}

.modal {
/*    border: 1px solid #999;*/
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    background-clip: padding-box;
    outline: 0;
}

.modal.fade {
    transition: opacity .3s linear, top .3s ease-out;
}

.modal.fade.in {
    top: 10%;
}

.modal-title h5 {
    font-size: 24px;
    font-weight: bold;
}

.modal-header {
    padding: 9px 15px;
    border-bottom: none !important;
    background-color: transparent;
}

.modal-header h4 {
    font-weight: bold;
}

.modal-header .close {
    background-color: transparent !important;
    color: #777 !important;
    font-size: 1.5rem;
    height: auto;
    line-height: 1;
    margin: 0;
    padding: 3px 0 0;
}

.modal-header .close:hover,
.modal-header .close:focus {
    color: #000 !important;
}

.modal-header h3 {
    margin: 0;
    line-height: 30px;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
    position: relative;
}

.modal-form {
    margin-bottom: 0;
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.modal-dialog .modal-content {
    background-color: #fff !important;
    border: 1 px solid [[setting:maincolor]] !important;
}

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: transparent !important;
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: none !important;
}

.modal-footer:after,
.modal-footer:before {
    display: table;
    content: "";
    line-height: 0;
}

.modal-footer:after {
    clear: both;
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}

.modal-footer::after, .modal-footer::before {
    content: "";
    display: table;
    line-height: 0;
}

/* Modal file Picker */
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    background:none;
    background-color: [[setting:maincolor]];
    border-bottom: 1px solid #bbbbbb;
/*     border-radius: 10px 10px 0 0; */
    color: #ffffff !important;
    font-family: [[setting:fontheadername]], sans-serif !important;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    padding: 0.7em;
    text-align: center;
    text-shadow: 1px 1px 1px #666666 !important;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1,
.moodle-dialogue h3 {
    font-family: [[setting:fontheadername]], sans-serif !important;
    color: #ffffff !important;
    text-shadow: 1px 1px 1px #666666 !important;
    padding: 0;
    text-align: center;
}

#page-navbar .breadcrumb-button {
    display: inline;
}

#gridshadebox_content ul.gtopics {
    margin: 12px 1px 0 1px;
}

.user-enroller-panel {
    z-index: 2;
}

#gridshadebox_content {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    min-height: 200px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

button.close {
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

#region-main .generaltable {
    overflow-x: auto;
    overflow-y: visible;
}

div.no-overflow, .yui3-datatable {
    overflow-y: visible;
    overflow-x: auto;
}

.paging {
    word-wrap: break-word;
}

.path-course-view .completionprogress {
    z-index: 2;
}

/* Search box */
#page-header .searchbox {
    padding: [[setting:searchboxpadding]];
}

.greybox {
    border: 1px solid #ccc;
}

.search-box__input {
    width: 280px;
}

button.search-box__button {
    background-image: none;
}

.search-box__button {
    margin: 2px !important;
    transition: background-color .2s ease-in-out;
}

.search-box__button:hover {
    background: [[setting:buttonhovercolor]];
    opacity: 0.9;
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: [[setting:buttontextcolor]];
    text-decoration: none;
    text-shadow: -1px -1px 0 [[setting:buttonhovercolor]];
    transition: all 150ms linear;
}

.search-box {
    float: right;
    margin-bottom: 5px;
}

.bg-white {
  background-color: #fff;
}

.pas {
  padding: 2px 4px;
  float: right;
}

.no-border {
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

#search-1 {
  padding: 5px 3px 5px 5px !important;
  margin: 0 !important;
  font-size: 14px;
  color: #444;
}

#search-1:focus {
  border: none !important;
  box-shadow: none;
}

.icon-search {
    font-size: 1.4em;
}

/* #navwrap {
    background-color: [[setting:menubkcolor]];
} */

div.questionbankwindow.block {
    overflow: auto;
}

.que .formulation {
    background-color: [[setting:currentcolor]];
    border-color: #bce8f1;
    color: [[setting:fontcolor]];
}

.container {
    transition: width .5s ease-in-out;
}

#region-main {
    transition: all .5s ease-in-out;
}

#block-region-side-post {
    padding-right: 0;
    transition: all .5s ease-in-out;
}

#zoominicon {
    cursor: pointer;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.showhideblocksdesc {
    padding-left: 1px;
}

#showsidebaricon {
    display: none;
}

@media(max-width: 991px) {
    #region-main {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #block-region-side-post {
        background-color: #fff;
        overflow: hidden;
        padding: 0;
        position: fixed;
        min-width: 90%;
        right: -90%;
        transition: right 0.75s;
        z-index: 11;
    }
    .header-style1 #block-region-side-post {
        height: calc(100% - 44px);
        top: 44px;
    }
    .header-style1 .pageheadershown #block-region-side-post {
        height: calc(100% - 104px);
        top: 104px;
    }
    .header-style2 #block-region-side-post {
        height: calc(100% - 72px);
        top: 72px;
    }
    #block-region-side-post .block-controls {
        display: none;
    }
    #block-region-side-post.sidebarshown {
        border-left: 2px solid [[setting:mobileslidebartabbkcolor]];
        overflow-y: auto;
        right: 0;
    }
    #showsidebaricon {
        background-color: [[setting:mobileslidebartabbkcolor]];
        border-bottom: 4px solid [[setting:mobileslidebartabbkcolor]];
        border-left: 4px solid [[setting:mobileslidebartabbkcolor]];
        border-top: 4px solid [[setting:mobileslidebartabbkcolor]];
        border-radius: 45px 0 0 45px;
        color: [[setting:mobileslidebartabiconcolor]];
        display: block;
        padding: 6px;
        position: fixed;
        right: 0;
        top: 305px;
        transition: right 0.75s;
        z-index: 11;
    }
    .sidebarshown #showsidebaricon {
        right: 90%;
    }
}

.fselect #id_courses {
    width: 100% !important;
}

.moodlewidth {
    padding-right: 4px !important;
    padding-left: 4px !important;
}

.collapsibleregioncaption {
    cursor: pointer;
    text-decoration: underline;
}

.overview .name a {
    text-decoration: underline;
}

.cimbox {
    background-color: [[setting:blockbackgroundcolor]];
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 175px;
    position: relative;
    margin-right: -1px;
    transition: all .5s ease-in-out;
    z-index: 8
}

.coursebox-content {
    padding: 5px 15px 10px;
    text-align: center;
}

.coursebox.hover .summary {
    color: [[setting:rendereroverlayfontcolor]];
    display: none;
    left: 0;
    min-height: 50px;
    overflow: auto;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 0;
}

.coursebox.hover .summary p {
    color: [[setting:rendereroverlayfontcolor]];
}

.coursebox.panel.hover {
    height: 100%;
}

.coursebox.panel.hover .panel-body .coursebox-content h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.coursebox.panel.hover:hover .panel-body {
    background-color: [[setting:rendereroverlaycolor]];
    transition: all .5s ease-in-out;
}

.coursebox.panel.hover:hover .panel-body .coursebox-content h3,
.coursebox.panel.hover:focus .panel-body .coursebox-content h3 {
    color: [[setting:rendereroverlayfontcolor]];
}

.coursebox.hover .teachers li a,
.coursebox.hover .summary > a:link,
.coursebox.hover .summary > a:visited {
    color: [[setting:rendereroverlayfontcolor]];
}

.coursebox.hover .teachers {
    color: [[setting:rendereroverlayfontcolor]];
    padding-left: 2px;
    padding-top: 2px;
    text-align: left;
}

.coursebox.hover:hover .summary {
    display: block;
    height: auto;
    min-width: 100%;
    width: auto;
}

.coursebox.panel.hover:hover .panel-body .cimbox {
    opacity: .3;
    transition: all .5s ease-in-out;
}

.panel.hover .coursebtn.submit.btn {
    border: 1px solid #eee !important;
    box-shadow: none;
    display: block;
    float: none;
    font-weight: 300;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    position: inherit;
    width: 90%;
}

.coursebox.hover .boxfooter {
    clear: none;
    margin-bottom: 0;
}

.coursebox .content .courseimage img {
  max-width: 300px;
}

.paging .paging-morelink {
    clear: both;
}

.dir-rtl.path-mod-forum .indent {
    margin-right: 3%;
    margin-left: 0;
}

.path-mod-forum .indent {
    margin-left: 3%;
}

.gradingform_guide.editor .addcriterion input,
.gradingform_guide.editor .addcomment input {
    background-color: #00aeef;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.gradingform_guide.editor .criterion .controls .delete input {
    width: 20px;
    height: 16px;
    background: transparent url([[pix:t/delete]]) no-repeat center top;
    margin-top: 4px;
}

.gradingform_guide.editor .moveup input {
    width: 20px;
    height: 15px;
    background: transparent url([[pix:t/up]]) no-repeat center top;
    margin-top: 4px;
}

.gradingform_guide.editor .movedown input {
    width: 20px;
    height: 15px;
    background: transparent url([[pix:t/down]]) no-repeat center top;
    margin-top: 4px;
}

.gradingform_guide.editor .movedown input:hover {
    background: #00aeef url([[pix:t/up]]) no-repeat center top;
}

.gradingform_guide.editor .controls .delete input:hover {
    background: #00aeef url([[pix:t/up]]) no-repeat center top;
}

.gradingform_guide.editor .addcriterion input,
.gradingform_guide.editor .addcomment input {
    padding-left: 10px;
    line-height: 20px;
    height: 36px;
    background-position: 5px 12px;
    color: #fff;
    font-weight: normal;
}

.gradingform_guide.editor .addcomment,
.gradingform_guide.editor .addcriterion {
    margin-top: 10px;
}

.footer-inner .pull-right {
    text-align: right;
}

#page-footer .validators,
#page-footer .purgecaches,
#page-footer .performanceinfo,
#page-footer #load {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.purgecaches {
    clear: both;
}

#page-footer .performanceinfo {
    margin: 10px 0;
}

.purgecaches a:link {
    color: #fff;
}

.helplink {
    text-align: center;
}

/* Pace Settings */
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: [[setting:loadingcolor]];
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

/* Hidden admin blocks */
.hidden-blocks .block {
  float: right;
  width: 250px;
  margin-left: 10px;
}

.hidden-blocks {
  background-color: rgba(255, 154, 154, 0.5);
  padding: 7px 7px;
}

.hidden-blocks h3 {
    border-bottom: 1px solid #e8eaeb;
    text-shadow: 1px 1px 2px #ffffff;
    color: #ff0000;
    margin-left: 10px;
}

.hidden-blocks .block-region .block {
  width: 25%;
  margin: 0 10px
}

.hidden-blocks .block-region .block .header {
  border-top: 0;
}

/* Quiz navigation.
   Published by Tim Hunt in the moodle forum

   Some styles are modified for Adaptable
   Important!: Some colours are hardcoded
*/

.que .formulation {
    background-color: transparent !important;
    border: 1px solid [[setting:maincolor]] !important;
}

.que .info {
    background-color: transparent !important;
    border: 1px solid [[setting:maincolor]] !important;
}

.path-mod-quiz #mod_quiz_navblock .qn_buttons {
    margin-right: -14px;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton {
    font-size: 14px;
    line-height: 25px !important;
    font-weight: bold;
    background: none;
    background-color: #eee;
    height: 45px;
    width: 35px;
    border-radius: 4px;
    border: 0;
    margin: 0 5px 5px 0;
    color: [[setting:linkcolor]] !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton .thispageholder {
    border: 1px solid #999;
    border-radius: 4px;
    z-index: 1;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.thispage .thispageholder {
    border: 3px solid #1f536b;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.flagged .thispageholder {
    background: url([[pix:theme|mod/quiz/flag-on]]) 20px 0 no-repeat;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton .trafficlight {
    border: 0;
    background: #fff none center 4px / 10px no-repeat scroll;
    height: 20px;
    margin-top: 25px;
    border-radius: 0 0 4px 4px;
}

/* Not yet answered */
.path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.invalidanswer .trafficlight {
    background-color: #fff;
}

/* Correct answer */
.path-mod-quiz #mod_quiz_navblock .qnbutton.correct .trafficlight {
    background-color: #8bc34a;
}

/* Blocked */
.path-mod-quiz #mod_quiz_navblock .qnbutton.blocked .trafficlight {
    background-color: #000;
}

/* Wrong answer */
.path-mod-quiz #mod_quiz_navblock .qnbutton.notanswered .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.incorrect .trafficlight {
    background-color: #f44336;
}

/* Partially correct */
.path-mod-quiz #mod_quiz_navblock .qnbutton.partiallycorrect .trafficlight {
    background-color: #ff9800;
}

/* Answered */
.path-mod-quiz #mod_quiz_navblock .qnbutton.complete .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.answersaved .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.requiresgrading .trafficlight {
    background-color: #999;
}

/* Fix user image in quiz report */
#page-mod-quiz-report table#attempts td,
#page-mod-quiz-report table.quizresponseanalysis td {
    max-width: 100%;
    min-width: 30px;
}

/* Fix quiz page width */
#page-mod-quiz-attempt .container {
    width: 100% !important;
}


/* Fix glossary print option */
#page-mod-glossary-view .glossarycontrol {
    margin: -40px 5px;
}


.rcs-search {
    margin: auto 0 0 5px;
}

/* Fix Video Player icons */
.vjs-icon-play::before,
.video-js .vjs-big-play-button::before,
.video-js .vjs-play-control::before,
.vjs-icon-fullscreen-enter::before,
.video-js .vjs-fullscreen-control::before {
    font-family: videojs;
}

/* Fix activity restriction dialog (and others?) */
.moodle-dialogue-content[role="dialog"] .row {
    margin-left: inherit;
}

/* Edit hover dropdown background */
.moodle-actionmenu.show[data-enhanced] .menu a:hover {
    background-color: #c0c0c0;
}

.moodle-actionmenu.show[data-enhanced] .menu {
    height: auto;
}

/* img assignment */
.path-mod-assign [data-region="user-info"] .img-rounded {
    height: 60px;
}

/* New Messages / Notifications topbar (moodle 3.2 and higher) */
/* messages icons margin */
#nav-notification-popover-container,
#nav-message-popover-container {
    margin-left: 8px;
}

/* messages icons size */
.popover-region-toggle .icon img{
    width: 24px;
    height: 24px;
}

/* New message drawer (moodle 3.6 and higher) */
.message-drawer {
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.08);
    border-left: 1px solid [[setting:headerbkcolor]];
}

.rounded-circle {
    max-width: none !important;
}

/* Set icon colour to white to fit default Adaptable colours)
Change the filter selector for other colours */
.message-drawer button img.icon {
    filter: grayscale(100%) brightness(5);

    max-width: none !important;
    margin-left: -5px;
    padding-right: 0;
}

.message-app.drawer .btn-block { /* M3.7+ */
    margin-left: 0;
}

/* Dimmed text (courses or users) */
.dimmed,
a.dimmed,
a.dimmed:link,
a.dimmed:visited,
a.dimmed_text,
a.dimmed_text:link,
a.dimmed_text:visited,
.dimmed_text,
.dimmed_text a,
.dimmed_text a:link,
.dimmed_text a:visited,
.usersuspended,
.usersuspended a,
.usersuspended a:link,
.usersuspended a:visited,
.dimmed_category,
.dimmed_category a {
    color: #999999 !important;
}

.activity img.iconlarge {
    height: [[setting:coursesectionactivityiconsize]];
    width: [[setting:coursesectionactivityiconsize]];
    vertical-align: middle;
}

.section li.activity {
    padding-top: 0;
    padding-bottom: 0;
    clear: both;
}

/* Plugins installation status */
.status-upgrade {
    background-color: #d9edf7;
}

.status-new {
    background-color: #dff0d8;
}


/* Activity chooser styling. */
.moodle-dialogue-base .moodle-dialogue.chooserdialogue {
    min-width: 90%;
    height: 100%;
}

.choosercontainer #chooseform .option label {
    display: block;
    padding: 0.4em 0 0.7em 0;
    border-bottom: 1px solid #FFFFFF;
    font-weight: normal;
}

.jschooser .choosercontainer #chooseform .alloptions .option .typename {
    display: inline-block;
    width: 65%;
    font-size: 1.2em;
}

/* Only set these options if we're showing the js container */
.jsenabled .choosercontainer #chooseform .alloptions {
    max-width: 95%;
}

.chooserdialogue .moodle-dialogue-wrap {
    margin-top: 15px;
    margin-left: -3px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    background-image: none;
    color: #565656;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    border-radius: 0px;
    text-align: left;
    font-size: 16px;
    min-height: 20px;
}

.moodle-dialogue-base .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons {
    margin-top: 5px;
    margin-right: 5px;
    padding: 0;
    background-image: none;
}

.choosercontainer #chooseform .selected .typesummary,
.choosercontainer #chooseform .selected .instruction {
    display: none;
}
/* End Activity chooser styling */

#savediscardsection {
    width: 100%;
    min-width: 100%;
    min-height: 30px;
    padding: 10px;
    top: 10px;
    background-color: #EEEEEE;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: fixed; /* For IE8 and earlier */
}

img.smallicon {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

#page-course-resources table.mod_index td img {
    height: 36px;
    width: 36px;
    vertical-align: middle;
}

#page-course-resources #region-main table.generaltable {
    display: table;
}

#profilepic img,
.userpicture {
    display: inline;
    margin: 0 4px 0 0;
    background-color: #fff;
    border-radius: 50%;
}

#adaptable-page-header-wrapper #above-header .userpicture {
     width: 25px ;
     height: 25px;
}

#adaptable-page-header-wrapper #header2 .userpicture {
    width: 35px ;
    height: 35px;
}

.comment-message .picture {
  width: 30px;
  float: left;
}

.tag_list .inline-list a.label-info[href] {
    color: #fff !important;
}

.searchbox abbr[title]{
    border-bottom:none;
    cursor:pointer;
    text-decoration:none;
}

.groupmanagementtable .row {
    margin-left: 0px;
}

/* Added to style the grid of letters etc on participants page */
.userlist .initialbar .letter {
    height: 1.8em;
    min-width: 1.8em;
    border: 0;
}

.userlist .initialbar .letter.active {
    line-height: 2em;
}

.userlist .initialbar {
    margin-bottom: 10px;
}

.userlist .initialbar .letter:hover {
    color: #FFFFFF !important;
}

/* Filepicker area. */
.filepicker-filelist .filepicker-container, .filemanager.fm-noitems .fm-empty-container {

}

/* Adaptable 2.0 */
.p-0 {
    background-color: transparent !important;
}

.row-fluid .col-9 {
    width: 74.46808511%;
    *width: 74.41489362%;
    max-width: none;
    flex: none;
    min-height: inherit;
}

.row-fluid .col-3 {
    width: 24.40425532%;
    *width: 24.35106383%;
}

@media (max-width: 767px) {
    .row-fluid .col-3 {
        flex: none;
        max-width: 100%;
        width: 100%;
    }

    .row-fluid .col-9 {
        flex: none;
        max-width: none;
        width: 100%;
    }
}

.form-inline input.form-control[type=text] {
    min-width: 120px;
    border-radius: 2px;
    height: 32px;
}

#page-login-index .card-header {
    display: none;
}

/* Block action classes lifted from previously used bootstrapbase parent theme. */

.block.hidden .header .block_action .block-hider-hide {
    display: none;
}
.block.hidden .header .block_action .block-hider-show {
    display: inline;
}

.block .header .block_action {
    padding: 3px 2px;
    float: right;
}

.block .header .block_action > * {
    margin-left: 3px;
}

.block .header .block_action .block-hider-show,
.block .header .block_action .block-hider-hide {
    cursor: pointer;
}

.block .header .block_action .block-hider-show {
    display: none;
}

.jsenabled .block.hidden .content {
    display: none;
    opacity: 0;
}

.jsenabled .block .content {
    opacity: 1;
    display: block;
    -webkit-transition: ease [[setting:navbardropdowntransitiontime]];
    -moz-transition: ease [[setting:navbardropdowntransitiontime]];
    -ms-transition: ease [[setting:navbardropdowntransitiontime]];
    -o-transition: ease [[setting:navbardropdowntransitiontime]];
    transition: ease [[setting:navbardropdowntransitiontime]];
}

/* Transform default value text in settings to Italic. */
.form-item .form-setting .form-defaultinfo {
    font-style: italic;
}

.form-item .form-setting .form-defaultinfo {
    padding-left: 5px;
}

/* Dialog box styling. */
.moodle-dialogue-base .moodle-dialogue-wrap .container,
.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .container
  {
    width: 100%;
}

.moodle-dialogue-base button.closebutton,
.moodle-dialogue-base .chooserdialogue button.closebutton,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .closebutton,
.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons button.yui3-button.closebutton
 {
    opacity: 1;
    line-height: 1.2em;
    border-radius: 3px;
    background-color: #FFF;
    width: 26px;
	padding:0;
	margin:0;

}

.moodle-dialogue-base .closebutton::after,
.moodle-dialogue-base .chooserdialogue .closebutton::after
.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons button.yui3-button.closebutton:after
 {
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    background: none;
    color: #777;
}

.form-group textarea.form-control {
    margin: 0 0 0.7rem 0;
}
.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons {
    padding:0.6em;
}
 
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons {
    padding: 1em;
}

.settingsform fieldset {
    margin-bottom: 10px;
}

.settingsform .form-item .form-label {
    padding-left: 0;
}

.modal.modal-in-page {
    z-index: 1;
}

/* Backup / restore and Course import page. */
.path-backup .mform .grouped_settings.section_level {
    padding: 10px 0 0 10px;
}

.path-backup .backup-section .header {
    margin-bottom: 20px;
}

.backup-section .ics-results {
    margin-top: 15px;
}

.path-backup .detail-pair .detail-pair-label {
    width: 20%;
}

.path-backup .detail-pair-value .ics-search input[type="submit"] {
    margin: 10px 0 0;
}

.path-backup .detail-pair .detail-pair-value input[type="submit"] {
    margin: 10px 0 0;
}

/* Course restore */
.detail-pair-label,
.detail-pair-value {
    font-size: 1rem !important;
}

.path-backup .form-group {
    margin-bottom: 0;
}

.path-backup .form-check .icon-post {
    margin-left: .5rem;
}

.path-backup .mform .root_setting:nth-of-type(odd),
.path-backup .mform .grouped_settings:nth-of-type(odd) {
    background-color: transparent;
}

/* File Picker */
.fp-setlicense select {
    display: block;
}

.form-control-static .icon
.detail-pair-value .icon {
    font-size: 24px !important;
}

.subheader h3 {
    font-size: 1.6rem !important;
    margin-top: 70px !important;
}

.path-backup .backup_progress {
    padding: 7px 5px;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.backup_stage .backup_stage_current,
.backup_stage .backup_stage_next {
    color: [[setting:maincolor]];
}

.path-backup .detail-pair .detail-pair-value input[type="submit"] {
    margin: 0;
}

/* info icon */
.text-info {
    color: [[setting:infoiconcolor]] !important;
    margin-top: 9px; /* fix vertical alignment */
}

/* Highlight results */
.highlight {
    background-color: #ff0;
    color: #000 !important;

}
/* danger icon */
.text-danger,
.notconnected,
.que .validationerror,
.text-error {
    color: [[setting:dangericoncolor]] !important;
    margin-right: 1px !important;
    margin-top: 8px !important;
}

/* Success / Fail icon */
.text-success,
.green,
.notifysuccess,
.connected,
.detail-pair-value .text-danger,
.form-control-static .text-danger,
.notconnected,
.que .validationerror,
.text-error {
    font-size: 24px !important;
}

/* Login Page */
/* Background Image */
/*rtl:ignore*/
#page-login-index .outercont {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    left: 50%;
    padding: 0 15px;
    position: relative;
    margin: 0;
    transform: translateX(-50%);
}

#page-login-index #page-footer {
    margin: auto 0 0 !important;
}

#page-login-index .fullin.narrow .container,
#page-login-index .fullin.standard .container {
    width: 100% !important;
}

#page-login-index {
    [[setting:loginbgimage]]
    background-position: 0 0;
    background-repeat: no-repeat;
    [[setting:loginbgstyle]]
}

#page-login-index #page {
    background:none;
}

.progressbar_container {
    max-width: none;
}

[[setting:loginbgopacity]]
